$lv-1: 3;
$lv-2: 2.5;
$lv-3: 2;
$lv-4: 1.5;
$lv-5: 14/12;
$lv-6: 1;

@mixin vr-level-1 {
	padding: 0 $base-vertical-font;
	font-size: $lv-1 * $base-vertical-font;
}

@mixin vr-level-2 {
	padding: 0 $base-vertical-font (($lv-1 - $lv-2) / 2 * $base-vertical-size);
	font-size: $lv-2 * $base-vertical-font;
}

@mixin vr-level-3 {
	padding: 0 $base-vertical-font (($lv-1 - $lv-3) / 2 * $base-vertical-size);
	font-size: $lv-3 * $base-vertical-font;
}

@mixin vr-level-4 {
	padding: 0 $base-vertical-font (($lv-1 - $lv-4) / 2 * $base-vertical-size);
	font-size: $lv-4 * $base-vertical-font;
}

@mixin vr-level-5 {
	padding: 0 $base-vertical-font (($lv-1 - $lv-5) / 2 * $base-vertical-size);
	font-size: $lv-5 * $base-vertical-font;
}

@mixin vr-level-6 {
	padding: 0 $base-vertical-font (($lv-1 - $lv-6) / 2 * $base-vertical-size);
	font-size: $base-vertical-font;
}

@mixin vr-level-7 {
	padding: 0 $base-vertical-font $base-vertical-font;
	font-size: $base-vertical-font;
}

@mixin vr-block {
	padding: $base-vertical-font;
	font-size: $base-vertical-font;
}

@mixin vr-input {
	padding: $base-vertical-font/2 $base-vertical-font;
	margin: $base-vertical-font/2 0;
	font-size: $base-vertical-font;
}

@mixin vr-label {
	padding: $base-vertical-font/2 0;
	margin: $base-vertical-font/2 0;
	font-size: $base-vertical-font;
}

@mixin fl-margins {
	&:first-child, &.first { margin-left: 0 }
	&:last-child, &.last { margin-right: 0 }
}

@mixin paddings {
	padding-left: $font-size;
	padding-right: $font-size;
}

@mixin double-paddings {
	padding-left: $font-size*2;
	padding-right: $font-size*2;
}

@mixin ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: break-word;
	overflow: hidden;
}

@mixin background-size($x-value: auto, $y-value: auto) {
	background-size: $x-value $y-value;
	-webkit-background-size: $x-value $y-value;
}