<!-- <h1>h1. Bootstrap heading <small>Secondary text</small></h1>
<h2>h2. Bootstrap heading <small>Secondary text</small></h2>
<h3>h3. Bootstrap heading <small>Secondary text</small></h3>
<h4>h4. Bootstrap heading <small>Secondary text</small></h4>
<h5>h5. Bootstrap heading <small>Secondary text</small></h5>
<h6>h6. Bootstrap heading <small>Secondary text</small></h6>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>

<p>Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.
Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>

<ul class="list">
	<li class="header">Items</li>
	<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li>Aliquam tincidunt mauris eu risus.</li>
	<li class="inline-edit"><input type="text" value="Vestibulum auctor dapibus neque." /></li>
</ul>

<div class="list checkbox">
	<input type="checkbox" checked="" id="lbl-1" />
	<label class="list-item" for="lbl-1">Items</label>

	<input type="checkbox" id="lbl-2" />
	<label class="list-item" for="lbl-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</label>

	<input type="checkbox" id="lbl-3" />
	<label class="list-item" for="lbl-3">Aliquam tincidunt mauris eu risus.</label>

	<input type="checkbox" id="lbl-4" />
	<label class="list-item" for="lbl-4">Vestibulum auctor dapibus neque.</label>
</div>

<form role="form" class="form">
	<div class="btn-group">
		<button type="submit" class="button">Submit</button>
		<button type="reset" class="button">Reset</button>
		<button type="button" class="button">Default</button>
		<button type="button" class="button" disabled="">Disabled</button>
	</div>

	<div class="form-group">
		<label for="exampleInputEmail1">Email address</label>
		<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1">Password</label>
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	</div>
	<div class="btn-group">
		<button type="submit" class="button">Submit</button>
	</div>
</form>
-->